<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hpsgts.crm.menu.dao.MenuDao">
  <resultMap id="BaseResultMap" type="com.hpsgts.crm.menu.entity.MenuEntity">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="menu_Id" jdbcType="VARCHAR" property="menuId" />
    <result column="menu_name" jdbcType="VARCHAR" property="menuName" />
    <result column="menu_Url" jdbcType="VARCHAR" property="resurl" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="show_order" jdbcType="INTEGER" property="showOrder" />
  </resultMap>

  <select id="queryAll" resultMap="BaseResultMap">
      	SELECT menu_id,menu_name,parent_id,menu_url,show_order
		FROM sys_menu
		ORDER BY show_order ASC
  </select>

    <select id="loadUserResources" parameterType="java.util.HashMap" resultMap="BaseResultMap">
        SELECT re.id,re.name,re.parentId,re.resUrl
        FROM sys_menu re LEFT JOIN role_menu rr
        ON re.id = rr.resourcesId
        LEFT JOIN user_role ur
        ON rr.roleId =ur.roleId
        WHERE ur.userId=#{userid}
        <if test="type != null">
            AND re.type= #{type}
        </if>
        GROUP BY re.id
        ORDER BY re.sort ASC
    </select>

    <select id="queryResourcesListWithSelected" parameterType="int" resultMap="BaseResultMap">
        SELECT re.id,re.name,re.parentId,re.resUrl,re.type,
		(CASE WHEN EXISTS(SELECT 1
		FROM role_resources rr WHERE rr.resourcesId=re.id AND rr.roleId=#{rid})
		THEN 'true' ELSE 'false' END) AS checked
		FROM resources re
		WHERE re.parentId !=0
		ORDER BY re.sort ASC
    </select>
</mapper>