<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hpsgts.crm.user.dao.UserDao">
  <resultMap id="BaseResultMap" type="com.hpsgts.crm.user.entity.UserEntity">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="user_id" jdbcType="INTEGER" property="user_id" />
    <result column="user_name" jdbcType="VARCHAR" property="user_name" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="enable" jdbcType="INTEGER" property="enable" />
  </resultMap>
  <select id="getAll" resultMap="BaseResultMap">
    select * from sys_user
  </select>
</mapper>